<!DOCTYPE html>
<html>
<title>CANADIAN REAL ESTATE REPORT</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body id="myPage">

<div class="scrollbar" id="style-1">
  <div class="force-overflow"></div>
  </div>

<!-- Deleted Sidebar on click -->
<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-theme-d2 w3-left-align">
     <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
     <a href="/templates/main.html" class="w3-bar-item w3-button w3-gray"><i class="fa fa-home w3-margin-right"></i>Home</a>
     <a href="#team" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Project Team</a>
     <a href="#report" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Download Report</a>
       <div class="w3-dropdown-hover w3-hide-small">
       <button class="w3-button" title="Notifications">Analysis Dropdown <i class="fa fa-caret-down"></i></button>     
       <div class="w3-dropdown-content w3-card-4 w3-bar-block">
         <a href="/templates/hpidata.html" class="w3-bar-item w3-button">Housing Price Index</a>
         <a href="/templates/geodata.html" class="w3-bar-item w3-button">Geographical Data</a>
         <a href="/templates/ontdata.html" class="w3-bar-item w3-button">Ontario Dwellings</a>
       </div>
     </div>
    </div>
     <!-- Navbar on small screens -->
     <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium">
        <a href="/templates/main.html" class="w3-bar-item w3-button w3-gray"><i class="fa fa-home w3-margin-right"></i>Home</a>
     </div>
   </div>

<!-- Image Header -->
<div class="w3-display-container w3-animate-opacity">
  <img src="/static/img/Mountain1.jpg" alt="Mountains" style="width:100%;min-height:350px;max-height:600px;">
  <div class="w3-container w3-display-bottomleft w3-margin-bottom">  
    <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-xlarge w3-theme w3-hover-gray" title="Go To W3.CSS">RESOURCES</button>
  </div>
</div>

<!-- Modal -->
<div id="id01" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-animate-top">
    <header class="w3-container w3-gray w3-display-container"> 
      <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-gray w3-display-topright"><i class="fa fa-remove"></i></span>
      <h4>Big thank you to our data sponsors!</h4>
      <h5>This data was used for our school project<i class="fa fa-smile-o"></i></h5>
    </header>
    <div class="w3-container">
      <p>The Canadian Real Estate Association</p>
      <p>Go to their <a class="w3-text-gray" href="https://www.crea.ca/housing-market-stats/mls-home-price-index/hpi-tool/">HPI Tool</a> to learn more!</p>
    </div>
    <footer class="w3-container w3-gray">
      <p>Note: We only gained knowledge, not money</p>
    </footer>
  </div>
</div>

<!-- Team Container -->
<div class="w3-container w3-padding-100 w3-center" id="team">
<h2>PROJECT TEAM</h2>
<p>Meet the Group 2 Project Team</p>

<div class="w3-row"><br>

<div class="w3-third">
  <img src="/static/img/PChandel.jpg" alt="Purnima Chandel" style="width:30%" class="w3-circle w3-hover-opacity">
  <h3>Purnima Chandel</h3>
  <p>Data Parser</p>
</div>

<div class="w3-third">
  <img src="/static/img/JPINTO.jpg" alt="Joao Pinto" style="width:30%" class="w3-circle w3-hover-opacity">
  <h3>Joao Pinto</h3>
  <p>Visualization Master</p>
</div>

<div class="w3-third">
  <img src="/static/img/MSayewich.jpg" alt="Mariaveronica Sayewich" style="width:30%" class="w3-circle w3-hover-opacity">
  <h3>Mariaveronica Sayewich</h3>
  <p>Web Designer</p>
</div>
</div>
<div class="w3-container w3-padding-100 w3-center">
<div class="w3-half">
  <img src="/static/img/WShao.JPG" alt="Wenjie Shao" style="width:30%" class="w3-circle w3-hover-opacity">
  <h3>Wenjie Shao</h3>
  <p>SQL Alchemist</p>
</div>

<div class="w3-half">
    <img src="/static/img/TZohrabyan.jpg" alt="Tigran Zohrabyan" style="width:30%" class="w3-circle w3-hover-opacity">
    <h3>Tigran Zohrabyan</h3>
    <p>API Guru</p>
 </div>
</div>
</div>

<!-- Deleted Work Section -->
<!-- Deleted plus button -->
<!-- Deleted Pricing -->
<!-- Deleted Visualizations -->
<!-- Deleted Contact Container -->

<!-- Download Report Container -->
<div class="w3-row"><br></div>
<div class="w3-row"><br></div>
<div class="w3-container w3-center" id="report">
  <h2>Download the Canadian Real Estate Report</h2>
  <div class="w3-row"><br></div>
<a href="/static/docs/Proposal.pdf" download="Group 2 - Canadian Real Estate Proposal.pdf">
  <button class="w3-bar-item w3-button w3-gray"><i class="fa fa-download"></i> Download Now</button>
</a>
<div class="w3-row"><br></div>
</div>

<!-- Image of location/map -->
<img src="/static/img/MountainPano.jpg" class="w3-image w3-greyscale-min" style="width:100%;">

<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-theme-d1 w3-center">
  <h4>Thank you for your time!</h4>
  <p>Template Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>

  <div style="position:relative;bottom:100px;z-index:1;" class="w3-tooltip w3-right">
    <span class="w3-text w3-padding w3-gray w3-hide-small">Go To Top</span>   
    <a class="w3-button w3-theme" href="#myPage"><span class="w3-xlarge">
    <i class="fa fa-chevron-circle-up"></i></span></a>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
</footer>

<script>
// Script for side navigation
function w3_open() {
  var x = document.getElementById("mySidebar");
  x.style.width = "300px";
  x.style.paddingTop = "10%";
  x.style.display = "block";
}

// Close side navigation
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>
