<!DOCTYPE html>
<html>
<title>ONTARIO DWELLINGS</title>
<meta charset="UTF-8">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
crossorigin="anonymous"></script>
<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="/static/css/ONmapStyle.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
   integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
   crossorigin=""></script>
<body id="myPage">

<!-- Navbar -->
<div class="w3-top">
        <div class="w3-bar w3-theme-d2 w3-left-align">
         <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
         <a href="/templates/main.html" class="w3-bar-item w3-button w3-gray"><i class="fa fa-home w3-margin-right"></i>Home</a>
           <div class="w3-dropdown-hover w3-hide-small">
           <button class="w3-button" title="Notifications">Analysis Dropdown <i class="fa fa-caret-down"></i></button>     
           <div class="w3-dropdown-content w3-card-4 w3-bar-block">
             <a href="/templates/hpidata.html" class="w3-bar-item w3-button">Housing Price Index</a>
             <a href="/templates/geodata.html" class="w3-bar-item w3-button">Geographical Data</a>
             <a href="/templates/ontdata.html" class="w3-bar-item w3-button">Ontario Dwellings</a>
           </div>
         </div>
        </div>
         <!-- Navbar on small screens -->
         <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium">
            <a href="/templates/main.html" class="w3-bar-item w3-button w3-gray"><i class="fa fa-home w3-margin-right"></i>Home</a>  
         </div>
       </div>
       
       <!-- Image Header -->
       <div class="w3-display-container w3-animate-opacity">
         <img src="/static/img/Mountain1.jpg" alt="Mountains" style="width:100%;min-height:350px;max-height:600px;">
       </div>

    <!-- Page Content -->
    <body>
            <div class="w3-container w3-padding-100 w3-center">
              <div class="row">
                <div class="col-xs-12 col-md-12">
                  <h1>Ontario Dwellings Data</h1>
                  <h2>Click on the legend to explore key markets in Ontario by dwelling type.</h2>
                  <br><br>
                </div>
              </div>
            </div>

              <!-- The div where we will inject our map -->
              <div id="map"></div>
              
              <br><br>
              <!-- Our JS -->
              <script type="text/javascript" src="/static/js/ONMap.js"></script>

              <div class="w3-container w3-padding-100 w3-center">
                <div class="row">
                  <div class="col-xs-12 col-md-12">
                    <h2>The marker clusters represent average benchmark prices for various housing types in Ontario. You can compare the average price of each dwelling to the composite for real-time data on which dwelling type is most profitable in these markets.<br> <br> The regions included in this analysis are Barrie and District, Greater Toronto Area, Guelph, Hamilton and Burlington, Niagara Region, Oakville and Milton, and Ottawa.<br> <br> The data represents housing prices from January 1st 2018 to January 31st 2019.</h2>
                    <br><br>
                  </div>
                </div>
              </div>
                  </div>
                </div>
              </div>
            </div>
        </div>        

<!-- Image of location/map -->
<img src="/static/img/MountainPano.jpg" class="w3-image w3-greyscale-min" style="width:100%;">

<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-theme-d1 w3-center">
  <h4>Thank you for your time!</h4>
  <p>Template Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>

  <div style="position:relative;bottom:100px;z-index:1;" class="w3-tooltip w3-right">
    <span class="w3-text w3-padding w3-gray w3-hide-small">Go To Top</span>   
    <a class="w3-button w3-theme" href="#myPage"><span class="w3-xlarge">
    <i class="fa fa-chevron-circle-up"></i></span></a>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
  <script type="text/javascript" src="/static/js/GeoMap.js"></script>
</footer>

<script>
// Script for side navigation
function w3_open() {
  var x = document.getElementById("mySidebar");
  x.style.width = "300px";
  x.style.paddingTop = "10%";
  x.style.display = "block";
}

// Close side navigation
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>