<!DOCTYPE html>
<html>
<title>HPI DATA</title>
<meta charset="UTF-8">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
crossorigin="anonymous"></script>
<link rel="stylesheet" href="/static/css/style.css">
<!--<link rel="stylesheet" src="static/css/d3Style.css">-->
<link rel="stylesheet" href="/static/css/d3HPIStyle.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.2/nv.d3.min.css">
<body id="myPage">

<!-- Sidebar on click -->
<!-- <nav class="w3-sidebar w3-bar-block w3-white w3-card w3-animate-left w3-xxlarge" style="display:none;z-index:2" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-display-topright w3-text-gray">Close
    <i class="fa fa-remove"></i>
  </a>
  <a href="#" class="w3-bar-item w3-button">Link 1</a>
  <a href="#" class="w3-bar-item w3-button">Link 2</a>
  <a href="#" class="w3-bar-item w3-button">Link 3</a>
  <a href="#" class="w3-bar-item w3-button">Link 4</a>
  <a href="#" class="w3-bar-item w3-button">Link 5</a>
</nav>-->

<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-theme-d2 w3-left-align">
     <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
     <a href="/templates/index.html" class="w3-bar-item w3-button w3-gray"><i class="fa fa-home w3-margin-right"></i>Home</a>
       <div class="w3-dropdown-hover w3-hide-small">
       <button class="w3-button" title="Notifications">Analysis Dropdown <i class="fa fa-caret-down"></i></button>     
       <div class="w3-dropdown-content w3-card-4 w3-bar-block">
         <a href="/templates/hpidata.html" class="w3-bar-item w3-button">Housing Price Index</a>
         <a href="/templates/geodata.html" class="w3-bar-item w3-button">Geographical Data</a>
         <a href="/templates/ontdata.html" class="w3-bar-item w3-button">Ontario Dwellings</a>
       </div>
     </div>
    </div>
     <!-- Navbar on small screens -->
     <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium">
        <a href="/templates/index.html" class="w3-bar-item w3-button w3-gray"><i class="fa fa-home w3-margin-right"></i>Home</a>  
     </div>
   </div>

<!-- Image Header -->
<div class="w3-display-container w3-animate-opacity">
  <img src="/static/img/Mountain1.jpg" alt="Mountains" style="width:100%;min-height:350px;max-height:600px;">
</div>

    <!-- Page Content -->
            <div class="w3-container w3-padding-100 w3-center">
                <div class="row">
                <div class="col-xs-12 col-md-12">
                  <br></br>
                  <h1>Housing Price Index Data</h1>
                  <h2>Canadian Real Estate Association</h2>
                  <div class="row"><br></br>
                  <h3>Select datasets from the drop down below to explore Canadian HPI data.</h3><br></br>
                  <div class="row"><br></br>
                  </div>
                </div>
              </div>
              <div class="w3-center">
                      <select id="inds">
                          <option value="Composite_Benchmark" selected="selected">Composite Benchmark</option>
                          <option value="Single_Family_Benchmark">Single Family Benchmark</option>
                          <option value="One_Storey_Benchmark">One Storey Benchmark</option>
                          <option value="Two_Storey_Benchmark">Two Storey Benchmark</option>
                          <option value="Townhouse_Benchmark">Townhouse Benchmark</option>
                          <option value="Apartment_Benchmark">Apartment Benchmark</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row"><br></br>
                </div>
              <div class="w3-right">
               <!-- <div class="title">
                </div>-->
                  <div class="preview"><br></br></div>
              </div>
              <div class="w3-center">
              <div class="actions">
                <label id="form" for="show-voronoi">Show Voronoi diagram
                  <input type="checkbox" id="show-voronoi" disabled>
                </label>
                <button class="reset-zoom-button">Reset zoom</button>
              </div>
              </div>
              <div class="w3-center">
              <div class="root">
                <div class="chart"></div>
                <div class="legend"></div>
              </div>
            </div>
            <div class="w3-container w3-padding-100 w3-center">
              <div class="row">
                <div class="col-xs-12 col-md-12">
                  <h2>Use the legend and preview section to interact with the information.</h2><br></br>
                  <h2>Don't forget to check out our Voroni diagram!</h2>
                  <br><br>
                </div>
              </div>
            </div>

<!-- Image of location/map -->
<img src="/static/img/MountainPano.jpg" alt='MountainPano' class="w3-image w3-greyscale-min" style="width:100%;">

<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-theme-d1 w3-center">
  <h4>Thank you for your time!</h4>
  <p>Template Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>

  <div style="position:relative;bottom:100px;z-index:1;" class="w3-tooltip w3-right">
    <span class="w3-text w3-padding w3-gray w3-hide-small">Go To Top</span>   
    <a class="w3-button w3-theme" href="#myPage"><span class="w3-xlarge">
    <i class="fa fa-chevron-circle-up"></i></span></a>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.1/d3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
  <script type="text/javascript" src="/static/js/HPI.js"></script>
</footer>

<script>
// Script for side navigation
function w3_open() {
  var x = document.getElementById("mySidebar");
  x.style.width = "300px";
  x.style.paddingTop = "10%";
  x.style.display = "block";
}

// Close side navigation
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>
